$body-bg: #f1f3f5;
$border-radius: 0.5rem;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;
$card-cap-bg: #ffffff;
$card-cap-padding-y: 1rem;
$form-label-margin-bottom: 0.25rem;
$input-group-addon-bg: #ffffff;
$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-focus-width: 0;
$navbar-toggler-padding-x: 0;
$table-hover-bg: #e9ecef;

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: inherit !important;
}
